<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Ks </title>
    <link  rel="stylesheet" href="/static/css/start.css">
</head>
<body>
<header>
    <ul class="navlist">
        <li><a href="{{url_for('go_back') }}">Артқа</a></li>
    </ul>
</header>

      <section class="lecture">
          <img class="image-2" src="/static/Image/54.jpg"  alt="54.jpg">
          <ul class="lecture-tex">
              <li><a href="/static/tex/2.1.pdf" style="color: white">1.Кіріспе және негізгі идеясы.</a></li>
              <li><a href="/static/tex/2.pdf" style="color: white">2.Бірінші ашық кілт жүйесі – Диффи-Хеллман жүйесі.</a></li>
              <li><a href="/static/tex/2.3.pdf" style="color: white">3.Сандар теориясының элементтері.</a></li>
              <li><a href="/static/tex/4.pdf" style="color: white">4.Шамир шифры.</a></li>
              <li><a href="/static/tex/2.5.%20Эль-Гамаль%20Шифры.%20практика.pdf" style="color: white">5.Эль-Гамаль шифры</a></li>
              <li><a href="/static/tex/2.6.%20Бостығы%20бар%20бір%20жақты%20функция%20және-RSA%20шифры.pdf" style="color: white">6.Бір жақты “лазейка” функциясы және RSA шифры.</a></li>
              <li> <a href="/static/tex/22222.pdf" style="color: white">7.RSA электронды қолтанбасы.</a></li>
              <li><a href="/static/tex/4.2%20Шифр%20негізіндегі%20Эль%20Гамал%20электрондық%20қолтаңбасы.pdf" style="color: white">8.Эль-Гамаль шифріне негізделген электрондық қолтаңба.</a></li>
              <li><a href="/static/tex/4,3.pdf" style="color: white">9.Электрондық қолтаңбаның стандарттары</a></li>
              <li><a href="https://onlinegdb.com/UFDZOaAhO" style="color: white">Есепке мысал</a></li>
          </ul>
      </section>
</body>
</html>